body {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  background: #fff;
}

footer {
  text-align: center;
  color: #b0aeb7;
}

.App .container {
  margin: 50px auto;
  border-radius: 15px;
  padding: 50px;
  max-width: 500px;
  background-color: #2c234d;
  box-shadow: 20px 20px 20px rgba(44, 35, 77, 0.2);
}

.gitLink {
  text-decoration: none;
  color: #ef5f9a;
}
